/* ==========================
>>IMPORTS AND GLOBAL SETTINGS
========================== */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap');

body {
    /* background: #0e3d4c; */
}

/* remove bootstrap default margins */
p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.game--panel__hidden {
    display: none;
}

.game--panel__shown {
    display: block;
}

/* ================
>>HEADER/NAVIGATION
================ */

.nav-wrapper {
    /* background: #000000; */
    height: 8vh;
}

.logo-text {
    font-family: "Bowlby One SC";
    font-size: 1.75rem;
}

.nav-menu-icon {
    z-index: 10;
    margin: 0 1rem 0 0;
    border: 0;
    padding: 0;
}

.nav-menu-icon span {
    font-size: 2.5rem;
    /* color: #ffffff; */
}

#NavMobileToggler {
    padding-top: 0.5rem;
    /* background: #000000; */
    z-index: 8;
}

.nav-text-style {
    /* border-bottom: 1px solid rgba(255,255,255,.5); */
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: .8rem;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.1;
}

.nav-text-style a {
    padding: 0.75rem 0;
}

/* ============
>>WELCOME PANEL
============ */

.home-container-wrapper {
    min-height: 90vh;
    /* margin-top: 10vh; */
    padding: 8vh 8vw 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}

.welcome-panel {
    height: 50vh;
}

.welcome-panel h3 {
    font-family: "Bowlby One SC", sans-serif;
    font-weight: 400;
    font-size: 1.15rem;
    text-transform: uppercase;
    text-align: center;
}

.welcome-panel h2 {
    font-family: "Bowlby One SC";
    font-size: 2.25rem;
    text-transform: uppercase;
    text-align: center;
}

.welcome-panel h5 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: .8rem;
    text-align: center;
}

.welcome-panel p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: .75rem;
    text-align: center;
}

.welcome--play {
    width: 100%;
}

/* ==========
>>GAME PANELS
========== */

/* Main content wrapper */
.game-content {
    padding: 0 3vw 0;
}

/* Game title */
.game--heading {
    text-align: center;
}

.game--heading h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    /* color: #fffbfc; */
}

/* Category panel */
.game--categories {
    background-color: #4E5D6C;
    padding: 1vh 8vw;
}

.game--category-select {
    font-family: 'Roboto', sans-serif;
    font-size: .75rem;
    font-weight: 400;
    /* color: #fffbfc; */
    min-width: 100px;
    min-height: 75px;
}

.category {
    min-height: 10vh;
    padding: 3px 0;
    text-align: center;
}

/* Difficulty panel */
.game--difficulty {
    /* text-align: center; */
    /* background: #228093; */
    /* margin: 2px 0; */
    /* border: red 1px solid; */
}

.game--difficulty-select {
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
    font-weight: 500;
    color: #fffbfc;
    min-width: 120px;
    min-height: 100px;
}

/* Game display panel */
.game--question {
    height: 25vh;
    /* min-width: 50vw; */
    text-align: center;
    border: red 1px solid;
}

.game--question h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
    color: #fffbfc;
}

.game--answers {
    min-height: 80px;
    text-align: center;
    /* border: red 1px solid; */
}

.game--answer--single {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #fffbfc;
    min-width: 120px;
    min-height: 100px;
    border: white 1px solid;
}

.game--score {
    min-height: 80px;
    text-align: center;
    border: red 1px solid;
}

.game--score h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;
    font-weight: 500;
    color: #fffbfc;
}

/* ============
>>Media Queries
============ */


/* ========
>321+ width
======== */

@media only screen and (min-width: 321px) {
    .game--category-select {
        min-width: 120px;
        min-height: 80px;
    }
}

/* ========
>768+ width
======== */

/* min-height to exclude long phones in landscape eg; pixel 2 */
@media only screen and (min-width: 768px) and (min-height: 420px) {
    .home-container-wrapper {
        /* padding: 12vh 8vw 0; */
    }
}

/* ========
>992+ width
======== */

@media only screen and (min-width: 992px) {
    .home-container-wrapper {
        padding: 12vh 15vw 0;
    }
}

/* =========
>1200+ width
========= */

@media only screen and (min-width: 1200px) {
    .home-container-wrapper {
        padding: 12vh 22vw 0;
    }
}   
