/* ==========================
>>IMPORTS AND GLOBAL SETTINGS
========================== */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Nav */

.nav-wrapper {
    background: #000000;
    border: red 1px solid; 
}

.logo {
    margin: 0;
    padding: 0;
    height: 10vh;
    background-repeat: no-repeat;
    background-size: contain;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
}

.nav-menu-icon {
    z-index: 10;
    margin: 0 1rem 0 0;
    border: 0;
    padding: 0;
}

.nav-menu-icon span {
    font-size: 2.5rem;
    color: #ffffff;
}

#NavMobileToggler {
    padding-top: 0.5rem;
    background: #000000;
    z-index: 8;
}

.nav-text-style {
    border-bottom: 1px solid rgba(255,255,255,.5);
    font-family: "rubik", sans-serif;
    font-weight: 400;
    font-size: .8rem;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.1;
}

.nav-text-style a {
    padding: 0.75rem 0;
}

/* Home */

.home-container-wrapper {
    min-height: 90vh;
    /* margin-top: 10vh; */
    padding: 12vh 3vw 0;
    background: gray;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}

.game-content {
 padding: 0 3vw 0;
}

.game--heading {
    text-align: center;
}

.game--categories {

}

.category {
    min-height: 10vh;
    text-align: center;
    border: red 1px solid;
}
